head
  title
    | Add Income
  link(rel='stylesheet' href='stylesheets/style.css')
  script(type='text/javascript' src='javascripts/main.js')
  p.title Incomes
form(method="POST", action="/add_income")
  .formulario
    .block
      label(for='name') Name:
    input#name(type='text' name='name' placeholder='Income name..')
    .block
      label(for='value') Value:
    input#value(type='text' name='value' placeholder='Income value..')
    .block
      label(for='category') Category:
    input#category(type='text' name='category' placeholder='Category..')
    .block
      label(for='description') Description:
    input#description(type='text' name='description' placeholder='Category..')
    .block
      button(type='Submit') Add Income
    p.msg #{msg}
