<html>

<head>
    <title>
        exemplo
    </title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>


<body>
    
    <form>
     
        <div class="formulario">
            <div class="hehe">
                <label for="name">Name:</label>
           
            </div>
            <input type="text" id="name" placeholder="Income name.." />

            <div class="hehe">
                <label for="value">Value:</label>
            </div>
            <input type="text" id="value" placeholder="Income value.." />

            <div class="hehe">
                <label for="category">Category:</label>
            </div>
            <input type="text" name="category" id="category" placeholder="Category.." />

            <div class="hehe">
                <label class="description" for="description">Descrição:</label>
            </div>
            <input type="text" name="category" id="category" placeholder="Description.." />

            <div class="hehe">
                <button type="Submit">Enviar dados</button>
            </div>
        </div>
    </form>
</body>

</html>